In [9]:
import pandas as pd
import re

# Exercises

Within your codeup-data-science directory, create a new repo named natural-language-processing-exercises. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your natural-language-processing-exercises repo. Then add, commit, and push your changes.

Unless a specific file extension is specified, you may do your work either in a python script (.py) or a jupyter notebook (.ipynb).

Do your work for this exercise in a file named regex.

1) Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [12]:
def is_vowel(subject):
    regexp = r'[aeiouAEIOU]'

    if re.search(regexp, subject):
        print('Found a vowel')
        print(re.search(regexp, subject))
    else:
        print('No vowels found')

In [15]:
subject = 'bananA'
is_vowel(subject)

Found a vowel
<re.Match object; span=(1, 2), match='a'>

2) Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [257]:
def is_valid_username(subject):
    regexp = r'^[a-z0-?_][^A-Z.?]{2,32}$'
    
    if re.search(regexp, subject):
        print('Valid Username')
        print(re.search(regexp, subject))
    else:
        print('Invalid Username')

In [258]:
subject = '1234567891234567a0912_66o07809otj'
is_valid_username(subject)

Valid Username
<re.Match object; span=(0, 33), match='1234567891234567a0912_66o07809otj'>

3) Write a regular expression to capture phone numbers. It should match all of the following:

In [830]:
numbers = pd.DataFrame(['(210) 867 5309', '+1 210.867.5309', '867-5309', '210-867-5309'])
numbers['numbers'] = numbers
numbers = numbers.drop(columns = [0])
numbers

           numbers
0   (210) 867 5309
1  +1 210.867.5309
2         867-5309
3     210-867-5309

In [840]:
phone_regex = re.compile(
'''
^
(?P<country_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
$
''', re.X)

In [844]:
pd.concat([numbers, numbers['numbers'].str.extract(phone_regex)], axis =1)

           numbers country_code area_code exchange_code line_number
0   (210) 867 5309          NaN       210           867        5309
1  +1 210.867.5309           +1       210           867        5309
2         867-5309          NaN       NaN           867        5309
3     210-867-5309          NaN       210           867        5309

In [831]:
# My work

In [294]:
regexp = r'^(\+\d{1,}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$'
subject = '(210) 867 5309' 

re.search(regexp, subject)

In [296]:
regexp = r'^(\+\d{1,}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$'
subject = '+1 210.867.5309' 

re.search(regexp, subject)

In [839]:
regexp = r'^(\+\d{1,}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$'
subject = '867-5309' 

re.search(regexp, subject)

In [846]:
# Was not able to capture this one due to having no area code.

In [309]:
regexp = r'^(\+\d{1,}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$'
subject = '210-867-5309' 

re.search(regexp, subject)

4) Use regular expressions to convert the dates below to the standardized year-month-day format.

In [310]:
dates = pd.Series(['02/04/19', '02/05/19', '02/06/19', '02/07/19', '02/08/19', '02/09/19', '02/10/19'])
dates

0    02/04/19
1    02/05/19
2    02/06/19
3    02/07/19
4    02/08/19
5    02/09/19
6    02/10/19
dtype: object

In [850]:
dates.str.replace(r'(\d{2})/(\d{2})/(\d{2})', r'20\3-\1-\2', regex=True)

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

5) Write a regex to extract the various parts of these logfile lines:

In [857]:
lines = '''
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
'''

In [869]:
regex = r'''
^
(?P<method>GET|POST)
\s
(?P<path>[/\w\-\?=]+)
\s
\[(?P<timestamp>.+)\]
\s
(?P<http_version>HTTP/\d+\.\d+)
\s
\{(?P<status_code>\d+)\}
\s
(?P<bytes_out>\d+)
\s
"(?P<user_agent>\.+)"
\s
(?P<ip>\d+\.\d+\.\d+\.\d+)
$'''

In [872]:
[re.search(regex, line, re.VERBOSE).groupdict() for line in lines.strip().split('\n')]

AttributeError: 'NoneType' object has no attribute 'groupdict'

In [863]:
regex = re.compile(regex, re.VERBOSE)

In [849]:
# Work

In [322]:
df = pd.DataFrame()
df['text'] = pd.Series([
    '76.185.131.226 - - [11/May/2020:14:25:53 +0000] "GET / HTTP/1.1" 200 42 "-" "python-requests/2.23.0"',
])
df

                                                text
0  76.185.131.226 - - [11/May/2020:14:25:53 +0000...

In [742]:
df.text.str.extract(r'(?P<ip>^\d{2}.\d{3}.\d{3}.\d{3})')

               ip
0  76.185.131.226

In [760]:
df.text.str.extract(r'(?P<date_time>\d{2}/\w{3}/\d{4}:\d{2}:\d{2}:\d{2}\s\+\d{4})')

                    date_time
0  11/May/2020:14:25:53 +0000

In [797]:
df.text.str.extract(r'(?P<cohort_id>\d{3})(?P<user_id>\s\d{2})')

  cohort_id user_id
0       200      42

In [800]:
df.text.str.extract(r'(?P<method>\w{6}-\w{8})')

            method
0  python-requests